<p>
  <strong>Images:</strong>
  <% if @page.images.attached? %>
    <% @page.images.each do |attachment| %>
      <br>
      <% if attachment.image? %>
        <%= image_tag attachment, width: "200px" %>
      <% elsif attachment.audio? %>
        <audio controls>
          <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>"/>
        </audio>
      <% elsif attachment.video? %>
        <video controls width="480">
          <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>"/>
        </video>
      <% else %>
        <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
      <% end %>
      <br>
    <% end %>
  <% end %>
</p>