<%= form_with(model: @page) do |form| %>
  <% if @page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% @page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

         
       <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Upload File</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form.file_field :images, multiple: true, direct_upload: true %>
         <%= form.text_field :user_id, id: :pages_user_id, value: current_user.id, type: :hidden %>
      </div>
      <div class="modal-footer">
      <%= form.submit "Upload", class: " newChat-modal-create-btn" %>
      </div>
    </div>
  </div>
</div>

        
   
         
<% end %>
