<% if current_user %>
  
<%= current_user.email %>

<div id="pages">
  <% @pages.each do |page| %>
    <%= render page %>
    <p>
      <%= link_to "Show this page", page %>
    </p>
  <% end %>
</div>

<%= link_to "New page", new_page_path %>

<% else %>

<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Log in", new_user_sessions_path %>

<% end %>